/* generation-form.component.css */

.generation-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./background.jpg);
    color: white;
}

.monster-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    & > * {
        width: 50%;
    }
}

.monster-form label {
    font-weight: bold;
    margin-right: 10px;
}

.monster-form input {
    flex-grow: 1;
}

.generation-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
