img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card {
    width: 400px;
    height: 600px;
    perspective: 1000px;
    margin: 0 auto;
    position: relative;
}

.card > * {
    transition: all 200ms;
}

.flipped {
    transform: rotateY(180deg);
}